<div class="container p-5">
    <div class="card">
        <form class="card-body" action="/user/updatePassword" method="post">
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Mật khẩu cũ</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <% if(messages.error) { %>
                        <div class="error text-danger">
                            <%= messages.error %>
                        </div>
                        <% } %>
                            <input type="password" name="oldPassword" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Mật khẩu mới</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="password" name="newPassword" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Xác nhận lại mật khẩu</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="password" name="confirmPassword" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                    <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                </div>
            </div>
        </form>
    </div>
</div>