<div class="container">
    <div class="row justify-content-center p-5">
        <h1>Feeback</h1>
        <h3>Cảm ơn bạn đã phản hồi ý kiến cho chúng tôi. Chúng tôi đã gửi một phản hồi về địa chỉ email của bạn. Vui lòng kiểm tra hộp thư email của bạn. Xin cảm ơn!</h3>
        <a href="/" class="btn btn-primary">Trở về trang chủ</a>
    </div>
</div>