<div class="container">
    <div class="main-body">
        <form class="row" method="post" action="/order/updateOrderCheckout">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Số điện thoại: </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" name="phone" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Tỉnh/Thành phố: </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" name="city" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Địa chỉ: </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" name="shippingAddress" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input type="submit" class="btn btn-primary px-4" value="Lưu thay đổi">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>