<div class="container">
    <div class="row justify-content-center p-5">
        <h1>Đặt lại mật khẩu của bạn</h1>
        <h3>Một thông báo đã được gửi đến địa chỉ email của bạn. Vui lòng kiểm tra hộp thư email của bạn</h3>
    </div>
</div>