<div class="container">
    <p>Xin chào <%= name %>
    </p>
    <p>Bạn quên mật khẩu? Vui lòng nhấp vào link để cập nhật mật khẩu mới:
        <a href="<%= url %>" class="btn btn-primary">Đặt lại mật khẩu của
            bạn</a>
    </p>
</div>