<div class="container">
    <h1>Xin chào <%= name %>
    </h1>
    <h3>Cảm ơn bạn đã gửi phản hồi về cho chúng tôi. Chúng tôi sẽ ghi nhận ý kiến đóng góp của bạn. Xin cảm ơn</h3>
    <a href="<%= url %>" class="btn btn-primary">Trở về trang chủ</a>
</div>