<div class="container">
    <div class="row p-4 text-center">
        <div class="col-sm-12">
            <h1>Đặt lại mật khẩu</h1>
        </div>
    </div>
    <div class="row justify-content-center pb-4">
        <div class="col-sm-6 col-sm-offset-3">
            <% if(messages.error) { %>
                <span class="error text-danger">
                    <%= messages.error %>
                </span>
                <% } %>
                    <form method="post" id="passwordForm" action="/user/resetpassword">
                        <input type="password" class="input-lg form-control mb-4" id="password1"
                            placeholder="Mật khẩu mới" name="newPassword" autocomplete="off">
                        <input type="password" class="input-lg form-control mb-4" id="password2"
                            placeholder="Nhập lại mật khẩu" name="confirmPassword" autocomplete="off">
                        <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                            data-loading-text="Changing Password..." value="Cập nhật">
                    </form>
        </div>
    </div>
</div>