<div class="container">
    <h1>Xin chào <%= name %>
    </h1>
    <h1>Cảm ơn bạn đã ủng hộ Raito Shop</h1>
    <h3>Nếu có bất cứ ý kiến đóng góp nào, xin hãy gửi về cho chúng tôi qua địa chỉ mizu12387@gmail.com. Mọi đóng góp
        của bạn sẽ giúp shop hoàn thiện hơn. Xin cảm ơn!!</h3>
    <a href="<%= url %>" class="btn btn-primary">Trở về trang chủ</a>
</div>